.home{
  &__timhieu{
    background-color: #D67126;
    &__section{
      min-height: 720px;
      .uk-section{
        @include media-breakpoint-down('s'){
          padding-top: 100px;
          padding-bottom: 0 !important;
        }
      }
    }
    &__title{
      color: #FFFFFF;
      @extend .fz-42;
      font-family: $font-BeVietnamPro-Black;
      line-height: (52/42);
    }
    &__list{
      >li{
        margin: 0 !important;
        color: #FFFFFF;
        @extend .fz-24;
        font-family: $font-BeVietnamPro-SemiBold;
      }
    }
  }
  &__doanhnghiep{
    &__section{

    }
    &__txt1{
      @extend .fz-52;
      font-family: $font-BeVietnamPro-Bold;
      line-height: (62/52);
      color: #D67126;
    }
    &__txt2{
      @extend .fz-16;
      line-height: (19/16);
      color: #4D4D4D;
      text-transform: uppercase;
      font-family: $font-BeVietnamPro-Medium;
    }
    &__item1{
      &:nth-child(n+2){
        margin-top: 30px;
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 40px;
        @include media-breakpoint-up('m'){
          margin-top: 100px;
        }
      }
    }
  }
  &__visao{
    &__section{
      background: #DD6C08;
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 20px;
      }
    }
    &__title{
      text-align: center;
      @extend .fz-22;
      font-family: $font-BeVietnamPro-SemiBold;
      color: #FFFFFF;
      line-height: (26/22);
    }
    &__desc{
      @extend .fz-16;
      line-height: (19/16);
      color: #FFFFFF;
    }
    &__boxImg{
      background-color: #A82400;
      background-repeat: no-repeat;
      background-position: center;
    }
    &__btn{
      background: #A82400;
      border-color: #A82400;
      color: #FFFFFF;
    }
  }
  &__thongbao{
    &__section{
      background: #FCF0E8;
    }
    &__card{
      //min-height: 53px;
      background: #FFFFFF;
      padding: 16px 16px;
      padding-left: 50px;
      position: relative;
      &:before{
        content: attr(data-count);
        position: absolute;
        top: -17px;
        left: 11px;
        //@extend .fz-33;
        font-size: 33px;
        color: #D67126;
        font-family: $font-Gotham-Ultra;
      }
      &__txt{
        @extend .fz-16;
        font-family: $font-BeVietnamPro-Regular;
        color: #231F20;
      }
      &__note{
        @extend .fz-14;
        font-family: $font-BeVietnamPro-Regular;
        color: #231F20;
      }
    }
    &__tab{
      margin-bottom: 0;
      >li{
        >a{
          color: #1D1D1B;
          @extend .fz-18;
          font-family: $font-BeVietnamPro-SemiBold;
          background: #D3D3D3;
          $x:10px;
          border-radius: #{$x} #{$x} 0 0;
        }
        &.uk-active{
          >a{
            background: #D67126;
            border-color: #D67126;
            color: #ffffff;
          }
        }
      }
    }
    &__txt{
      @extend .fz-16;
      font-family: $font-BeVietnamPro-SemiBold;
      color: #1D1D1B;
    }
    &__switch{
      min-height: 526px;
      box-sizing: content-box;
      background: #AEAEAE;
      padding: 24px;
      $x:30px;
      border-radius: 0 0 #{$x} #{$x};
      @include media-breakpoint-up('m'){
        padding: 24px 70px;
      }
    }
  }
  &__sinhvien{
    &__section{
      background: #D66200;
    }
    &__card{
      $x:6px;
      border-radius: #{$x};
      overflow: hidden;
      &__body{
        $x1:24px;
        padding: #{$x1};
      }
      &__footer{
        background-color: #A82400;
        $x1:24px;
        padding: 16px #{$x1};
      }
      &__box{
        margin-top: -20px;
      }
      &__desc{
        color: #1D1D1B;
        @extend .fz-16;
        font-family: $font-Roboto-Italic;
        line-height: (19/16);
      }
    }
  }
  &__doingu{
    &__section{

    }
    &__slidenav{
      background-repeat: no-repeat;
      background-position: center;
      svg{
        opacity: 0;
      }
      &--next{
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7902 29.3101C22.732 29.3101 29.1702 22.872 29.1702 14.9302C29.1702 6.98832 22.732 0.549805 14.7902 0.549805C6.84831 0.549805 0.410156 6.98832 0.410156 14.9302C0.410156 22.872 6.84831 29.3101 14.7902 29.3101Z' fill='%23A0360E'/%3E%3Cpath d='M10.54 23.3999L19.04 14.8901L10.62 6.45996' stroke='white' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
      }
      &--prev{
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='30' viewBox='0 0 29 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5201 29.3101C22.462 29.3101 28.9001 22.872 28.9001 14.9302C28.9001 6.98832 22.462 0.549805 14.5201 0.549805C6.57829 0.549805 0.140137 6.98832 0.140137 14.9302C0.140137 22.872 6.57829 29.3101 14.5201 29.3101Z' fill='%23A0360E'/%3E%3Cpath d='M18.78 6.45996L10.27 14.9702L18.7 23.3999' stroke='white' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
      }
    }
    &__card{
      background: #DD6C08;
      $x:6px;
      border-radius: #{$x};
      $y:60px;
      margin-top: #{$y};
      &__box1{
        margin-top: -90px;
        @include media-breakpoint-up('m'){
          margin-top: -100px;
        }
      }
      &__txt{
        @extend .fz-16;
        line-height: (19/16);
        color: #ffffff;
        font-family: $font-Roboto-Bold;
      }
      &__desc{
        @extend .fz-16;
        line-height: (19/16);
        color: #ffffff;
        font-family: $font-Roboto-Italic;
      }
    }
  }
  &__dangky{
    &__card{
      box-shadow: 7px 7px 20px rgba(255, 103, 0, 0.75);
      $x:16px;
      border-radius: #{$x};
      //min-height: 465px;
      &__title{
        color: #D67126;
        @extend .fz-20;
        line-height: (25/20);
        font-family: $font-BeVietnamPro-Bold;
      }
      &__btn{
        background: #D67126;
        border-color: #D67126;
        color: #ffffff;
        span{
          @extend .fz-18;
          font-family: $font-BeVietnamPro-Bold;
        }
      }
      &__input{
        color: #666666;
        @extend .fz-16;
        font-family: $font-BeVietnamPro-Regular;
        border-color: #808080;
      }
    }
    &__section{
      background-color: #A0360E;
      //min-height: 667px;
      @include media-breakpoint-down('s'){
        padding-bottom: 0;
        min-height: initial !important;
      }
    }
    &__imgBg{
      max-width: 398px;
    }
    &__imgBgm{

    }
    &__txt1{
      font-family: $font-BeVietnamPro-Black;
      @extend .home__dangky__dc;
    }
    &__txt2{
      @extend .home__dangky__dc;
      font-family: $font-BeVietnamPro-Italic;
    }
    &__dc{
      line-height: (50.4/42);
      @extend .fz-42;
      color: #ffffff;
    }
  }
  &__trainghiem{
    &__section{
      background: #D1D3D3;
    }
    &__title{
      @extend .fz-30;
      color: #D67126;
      line-height: (38/30);
      font-family: $font-BeVietnamPro-Black;
      text-transform: uppercase;
    }
  }
}